<html>
  <head></head>
  <body>
    <h1>Make a booking!</h1>
    <form action="/booking/new" method="POST">
      <div>Check in date:</div>
      <input type="date" name="check_in">
      <div>Check out date:</div>
      <input type="date" name="check_out">
      <div>Listing id:</div>
      <input type="int" name="listing_id">
      <div>Guest id:</div>
      <input type="int" name="guest_id"></br>
      <input type="submit" value="Book">
    </form>
  </body>
</html>