<html>
  <head>
  <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="content">
      <h1>Make a booking!</h1>
      <form action="/booking/new" method="POST" class="tm-search-form tm-section-pad-2">
        <div style="display:inline" class="form-group tm-form-element tm-form-element-100">
          Check In: 
          <input type="date" name="check_in" placeholder="Check In" class="form-control">
        </div></br>

        <div style="display:inline"   class="form-group tm-form-element tm-form-element-100">
        Check Out:
          <input type="date" name="check_out" placeholder="Check Out" class="form-control">
        </div></br>

        <div style="display:inline" class="form-group tm-form-element tm-form-element-100">
          <input type="int" name="listing_id" placeholder="Listing ID" class="form-control">
        </div></br>

        <div style="display:inline" class="form-group tm-form-element tm-form-element-100">
          <input type="int" name="guest_id" placeholder="Guest ID" class="form-control">
        </div></br>

        <div style="display:inline; " class="form-group tm-form-element tm-form-element-100">
          <input type="submit" value="Book" class="btn btn-primary tm-btn-search">
        </div>
      </form>
    </div>
  </body>
  <footer>
    <a href='/'>Home</a>
  </footer>
</html>