<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MakersBnB - Team Arrogate</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="style/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/css/bootstrap.min.css">
    <link rel="stylesheet" type="style/text/css" href="style/slick/slick.css"/>
    <link rel="stylesheet" type="style/text/css" href="style/slick/slick-theme.css"/>
    <link rel="stylesheet" type="style/text/css" href="style/css/datepicker.css"/>
    <link rel="stylesheet" href="style/css/tooplate-style.css">
  </head>
  <body>
    <div class="tm-main-content" id="top">
      <div class="tm-top-bar-bg"></div>
      <div class="tm-top-bar" id="tm-top-bar">
        <!-- Top Navbar -->
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-expand-lg narbar-light">
              <a class="navbar-brand mr-auto" href="#">
                <img src="style/img/makersbnb.png" width="110" height="110" alt="Site logo">
              </a>
              <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link">
                      <% unless @username.nil? %>
                        Welcome! <%= @username.username %>
                      <% end %>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <% if !@logged_in %>
                    <li class="nav-item">
                      <a class="nav-link" href="/signup">Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Log in</a>
                    </li>
                  <% elsif @logged_in %>
                    <li class="nav-item">
                      <a class="nav-link" href="/listings">Explore</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/requests">My Requests</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </nav>
          </div>
        </div>

      </div>
      <div class="tm-section-2">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h2 class="tm-section-title">MAKERSBNB</h2>
              <p class="tm-color-white tm-section-subtitle">Commit and Travel!</p>
              <a href="./listings" class="tm-color-white tm-btn-white-bordered">Book here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
          <polygon fill="#ee5057" points="0,0  100,0  50,60"></polygon>
        </svg>
        <div class="row text-center">
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x fa-legal tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">List with us</h3>
            <p>Offer your place on MakersBnB in a couple of clicks</p>
            <a href="./listings/new" class="text-uppercase tm-color-primary tm-font-semibold">Click here</a>
          </article>
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x fa-plane tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">Places to go</h3>
            <p>Explore all listings.</br>Where do you want to go next?</p>
            <a href="./listings" class="text-uppercase tm-color-primary tm-font-semibold">Click here</a>
          </article>
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x fa-life-saver tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">Register here</h3>
            <p>First time here? </br> Make an account to unlock all the features</p>
            <a href="./signup" class="text-uppercase tm-color-primary tm-font-semibold">Click here</a>
          </article>
        </div>
      </div>
      <footer class="tm-bg-dark-blue">
        <div class="container">
          <div class="row">
            <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
              Copyright &copy; <span class="tm-current-year">2022</span> MAKERSBNB
              - Design: <a rel="nofollow" href="https://www.tooplate.com" class="tm-color-primary tm-font-normal" target="_parent">Tooplate</a></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
