<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="style/font-awesome-4.7.0/css/font-awesome.min.css">                <!-- Font Awesome -->
    <link rel="stylesheet" href="style/css/bootstrap.min.css">                                      <!-- Bootstrap style -->
    <link rel="stylesheet" type="text/css" href="style/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="style/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="style/css/datepicker.css"/>
    <link rel="stylesheet" href="style/css/tooplate-style.css">  
    </head>
    <body>
        <p>This is the homepage.</p>
    </body>
</html>
